@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html {
  font-size: 72%;
  margin: 0;
  padding: 0;
}

body,
input,
select,
button {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}
